---
layout: "/_layout/_main.html.haml"
class: "join"
page_title: "Join"
...

%header.red-white
  .container
    .row
      .span9.offset1
        %h1 Yep, Cogent is hiring
        %h2
          One of the roles below could have your name written all over it.

%section.grey-background
  .container
    .row
      .span9.offset1
        %h2
          Cogent got started by hiring
          %br
          some of the best people we&rsquo;d worked with.
        %p
          That sets a high bar, and we&rsquo;d love to see you clear it. We&rsquo;re not interested in how many degrees you have, or even if you finished high school. We want people who are smart, and can get things done.

%section.container
  .row
    .span10.offset1.text-center
      %h2 Want to join us?
  .row
    .span10.offset1
      %ul.roles.unstyled
        - roles = [['Developer', "Pair with some of the best developers in Melbourne. We care about code!"]]
        - roles << ['Designer', "Get to change stuff as you go, and see your work in the wild."]
        - roles << ['Producer',  "Work with great customers, knowing a good team is behind you."]
        - roles.each do |role|
        - name, desc, url = role.first, role.last, href("#{role.first.downcase}.html")
          %li
            .row.desktop
              .span7
                %h3= name
                .small-font= desc
              %a.button.blue{:href => url} View
            %a.mobile{:href => url}
              .row
                .span7
                  %h3= name
                  %img.arrow{:src => href('/images/join_list_button.png')}

= include "../_partials/_join_us.html.haml"