!!! 5
%html
  %head
    %title
      Cogent
      = " - #{page.meta['page_title']} " if page.meta['page_title']

    %meta{ :charset => "utf-8" }/

    /[if IE]
      %meta{ "http-equiv" => "X-UA-Compatible", :content => "IE=edge;chrome=1" }

    %meta{ :name => "robots", :content => "" }
    %meta{ :name => "keywords", :content => "Cogent, Projects, Solutions, User Experience, Design, Development, Ruby, Ruby on Rails, Java, Interaction, Melbourne, Australia, " }
    %meta{ :name => "description", :content => "Cogent creates useful software that gets results. We start with your business goals and work in an open and iterative way to craft the product. We're based in Melbourne, Australia." }
    %meta{ :name => "author", :content => "Cogent" }
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }

    %link{ :rel => "stylesheet", :href => href("/css/bootstrap.min.css") }
    %link{ :rel => "stylesheet", :href => href("/css/royalslider.css") }
    %link{ :rel => "stylesheet", :href => href("/css/screen.css") }

    -# Infer css file from css class
    - if (css_class = page.meta['class']) && File.exists?("src/css/#{css_class}.css.scss")
      %link{ :rel => "stylesheet", :href => href("/css/#{css_class}.css") }

    %script{ :src => href("/js/jquery-1.10.2.min.js") }
    %script{ :type => "text/javascript", :src => href("/js/html5.js") }
    %script{ :src => "http://use.typekit.com/xkf5xsa.js" }
    %script{ :type => "text/javascript" }
      try{Typekit.load();}catch(e){}
    %script{ :type => "text/javascript", :src => href("/js/jquery.royalslider.min.js") }
    %script{ :type => "text/javascript", :src => href("/js/bootstrap.min.js") }
    %script{ :type => "text/javascript", :src => href("/js/application.js") }

    /[if lte IE 8]
      %script{ :type => "text/javascript", :src => href("/js/respond.js") }

  %body{:class => "#{page.meta['class']}"}
    .container
      .nav-bar.clearfix
        %a.logo{:href=> href("/") }
          %img{:src => href("/images/cogent-logo-transparent.png")}
        %ul
          %li
            = nav_link("projects", "Work")
          %li
            = nav_link("about.html", "About")
          %li
            = nav_link("join.html", "Join")

    .content
      = yield

      %footer.grey-background
        .container
          .row-fluid
            .span7.offset1
              %h2
                If you need some help with a project and this sounds good to you,
                %a{:href => "mailto:info@cogent.co" }
                  let's chat.
          .row-fluid.desktop
            .span6.offset1
              %p We'll listen to your goals, ask questions, offer ideas and be up-front on our fit to do the job.
          .row-fluid
            .span6.offset1
              .row-fluid
                .span6
                  %a{:href => "mailto:info@cogent.co"} info@cogent.co
                  %br
                  %span.address-name
                    Rachel
                  0419&nbsp;373&nbsp;075
                  %br
                  %span.address-name
                    Marty
                  0407&nbsp;004&nbsp;570
                .span6
                  Level 3, 351 Elizabeth Street
                  %br
                  Melbourne VIC 3000
              %p.copyright © Cogent 2013

    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-26314718-1']);
      _gaq.push(['_setDomainName', 'cogent.co']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
