!!! 5
%html
  %head
    %title
      Cogent
      = " - #{page.meta['page_title']} " if page.meta['page_title']
      = " - Projects - " + project_display_name(page.meta['project']) if page.meta['project']
      = " - Join - " + page.meta['role'] if page.meta['role']

    %meta{ :charset => "utf-8" }/

    /[if IE]
      %meta{ "http-equiv" => "X-UA-Compatible", :content => "IE=edge;chrome=1" }

    %meta{ :name => "robots", :content => "" }
    %meta{ :name => "keywords", :content => "Cogent, Projects, Solutions, User Experience, Design, Development, Ruby, Ruby on Rails, Java, Interaction, Melbourne, Australia, " }
    %meta{ :name => "description", :content => "Cogent creates useful software that gets results. We start with your business goals and work in an open and iterative way to craft the product. We're based in Melbourne, Australia." }
    %meta{ :name => "author", :content => "Cogent" }
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }

    %script{ :src => href("/js/jquery-1.10.2.min.js") }
    %script{ :src => href("/js/jquery.color-2.1.2.min.js") }
    %script{ :type => "text/javascript", :src => href("/js/html5.js") }
    %script{ :src => "http://use.typekit.com/xkf5xsa.js" }
    %script{ :type => "text/javascript" }
      try{Typekit.load();}catch(e){}

    %script{ :type => "text/javascript", :src => href("/js/application.js") }
    %script{ :type => "text/javascript", :src => href("/js/bootstrap.min.js") }

    %link{ :rel => "stylesheet", :href => href("/css/bootstrap.min.css") }
    %link{ :rel => "stylesheet", :href => href("/css/bootstrap-responsive.min.css") }
    %link{ :rel => "stylesheet", :href => href("/css/styles.css") }
    %link{ :rel => "stylesheet", :href => href("/css/screen.css") }
    /[if lte IE 8]
      %script{ :type => "text/javascript", :src => href("/js/respond.js") }
      
  %body
    .container
      .row.nav-bar
        .span2
          %a.logo{:href=> href("/") }
            %img{:src=> href("/images/logo-black.png")}
        .span10
          %ul.nav
            %li
              = nav_link("/work", "Work")
            %li
              = nav_link("/about", "About")
            %li
              = nav_link("/join", "Join")

    = yield

    %section.gray-background.desktop
      .container
        .row
          .span7.offset2
            %h2
              If you need help with a project and this sounds good to you,
              %a{:href => "#" }
                let's chat.

            %h3 We'll listen to your goals, ask questions, offer ideas and be up-front on our fit to do the job.
            .row.small-font
              .span2
                %a{:href => "#"} info@cogent.co
                %br
                Rachel 0419373075
                %br
                Marty 0419373075
              .span3
                Level 3, 10 Queen Street
                %br
                Melbourne VIC 3000
            %p.copyright © Cogent 2013  


    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-26314718-1']);
      _gaq.push(['_setDomainName', 'cogent.co']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
