---
layout: "../_layout/_main.html.haml"
...
%article{ :role => "main" }
  #gs-overlay
    &nbsp;

  %h1 
    Thread
  %h2
    We helped Melbourne Business School become leaders in digital learning

  %p.visit
    %a{:href => "http://www.thread.edu.au/"} Visit Thread

  %aside

    %p Thread is a peer community of senior business executives. It's designed to foster continuous learning, helping members to absorb, collaborate and apply knowledge to be more successful at work. For the school, a key part of realising this goal was to better connect the learning that occurs in their highly regarded executive programs, to the reality of being at work. 

    %h1 What was the goal?
    %p The school had several key aims: to improve the integration between formal and on-the-job learning, to add value to participants beyond the residential and other formal aspects, and to enable greater learning opportunities between peers and with facilitators.

    %h1 What did we do?
    %p Cogent teamed up with independent strategist Fiona Ingram on a short piece of research, and collaborated on this to form the base concept. 

    %p Following approval of this core idea, we spent five months in an iterative strategy, design & development cycle to produce the first release of Thread.  Cogent engaged SouthSouthWest to create the stunning Thread brand-mark, which inspired our visual design of the product. 

    %p We’re happy to report that Thread came in on time, 30K under budget, and met all of the feature criteria needed for day one. This included to be rolled out to the first customer (BHP Billiton) and to decommission an old system. Early feedback from users, the school, and from potential customers suggests that Thread will be a success in delivering on individual, organisation and social learning objectives, and play a big role in Melbourne Business School’s programs in future.

    %h1 Where to?
    %p We’re now in support mode and looking ahead to the next release, which will enable Thread to be used by any of Melbourne Business School’s customers for any of their programs. We also have a few other objectives to meet, including to better enable classroom-based learning, and to lift the value for organisations in driving their learning and development goals to their people.  While the school gears up to sell Thread, we’d better get on with it!

  %section{ :role => "main" }
  
    - photos = project_photos('thread', 4)
    = project_photo_html(photos[0])
    = project_photo_html(photos[1])

    .post.quote
      %span.attribution
        %span.time> Fri Oct 7 14:20:28 +1100 2011
        , Matt from Melbourne Business School said
      %h1 
        It's a great day here in the Cogent Treehouse, lot's of exciting ideas being thrown around!
    
    = project_photo_html(photos[2])

    .post.quote
      %span.attribution
        %span.time> Fri Oct 7 14:20:28 +1100 2011
        , Ben from Cogent said
      %h1 
        Tough week trying to get the aggregator working in IE9, but we did it. Took a lot of elbow great and coffee though!

    = project_photo_html(photos[3])
  
  = include("../_layout/project_footer.html.haml")
